span#loading {
	padding: 40px;
	font-size: 2em;
}

/* change border radius for the tab , apply corners on top*/


.nav-pills > li > a {
  /*border-radius: 4px 4px 0 0 ;*/
}

.tab-content {
  /*color : white;
  background-color: #428bca; */
  padding : 5px 15px;
}

.container {
  margin-top: 40px;
}

table {
  table-layout: fixed;
}